#login_page #login-logo {
  text-align: center;
}

#login_page #login-logo img {
  width: 100%;
  height: auto;
  padding: 5px;
  max-width: 350px;
  margin: 40px auto auto auto;
}

#login_page label {
  padding-right: 16px;
}

#login_page label,
#login-page input {
  border: none;
}

#login_page #login_btn {
  margin-top: 5px;
}

#login_page #login_btn a {
  display: block;
  text-align: right;
  padding: 12px;
  margin: auto;
  font-size: 20px;
  border: solid 1px transparent !important;
  background: transparent url("../img/svg icons/right_arrow_orange.svg") no-repeat right center;
  background-size: 30px !important;

  -webkit-transition: background, border .2s;
  -moz-transition: background, border .2s;
  -o-transition: background, border .2s;
  transition: background, border .2s;
}

#login_page #login_btn a > span {
  padding-right: 16px;
}

/******************************
          Popup
******************************/
.login-alert-popup.popup-container .popup button:hover {
  background-color: #eda04b !important;
}

.login-alert-popup.popup-container .popup button.button-assertive:hover {
  background-color: #DB4B23 !important;
}

.login-alert-popup.popup-container .popup  {
  background-color: #f1f1f2 !important;
}

.login-alert-popup.popup-container .popup button  {
  color: #434343;
  background-color: transparent !important;

  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.login-alert-popup.popup-container .popup-head .popup-title {
  font-weight: 900;
}

.login-alert-popup.popup-container .popup-buttons .button.activated  {
  background-color: #e8871a !important;
}
